

html{
	height: 100%;
}

body{
	margin: auto;
	background-color: #F5F5D5;
	height: 100%;
	max-width: 1366px;
}


h1,h2, h3{
	font-family: "Elsie", cursive;
}

h1{
	font-size: 80px;
	color: #DDA54A;
	letter-spacing: 1px;
}

h2{
	font-size: 50px;
	letter-spacing: 1px;
}


h4, h5{
	font-family: "Raleway", arial, sans-serif;
	font-weight: 600;
}

h4{
	font-size: 17px;
}


h5{
	font-size: 13px;
}

p{
	font-family: "Raleway", arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #2E3532;
	line-height: 16px;
}

a {
	text-decoration: none;
	font-family: "Raleway", arial, sans-serif;
	font-size: 13px;
}


section{
	position: relative;
	height: 110%;
}

<<<<<<< HEAD
=======
/*------------ header ------------*/
/*--
header{
	background-image: url(../imagenes/headerback.png);
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: cover;
}--*/
>>>>>>> c803de7c619fa261a62617752d5bd29304bfaa20

.contenedor{
	width: 90%;
	margin: auto;
}

.ochenta{
	width: 80%;
	margin: auto;
}

.setenta{
	width: 70%;
	margin: auto;
}

/*------------ header --------------------------------*/

<<<<<<< HEAD
header{
	background-image: url(../imagenes/header.jpg);
	background-origin: content-box;
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.headercontenedor{
=======
header div{
	height: 700px;
>>>>>>> c803de7c619fa261a62617752d5bd29304bfaa20
	padding-top: 25px;
	box-sizing: border-box;
}

<<<<<<< HEAD
=======
header div:nth-child(2){
	padding-left: 10%;
}

>>>>>>> c803de7c619fa261a62617752d5bd29304bfaa20
.logo:hover{
	filter: hue-rotate(100deg);
	width: 100%;
	height: auto;
}


.navprincipal{
	box-sizing: border-box;
	margin: auto;

}

.navprincipal ul{
	display: inline-block;
	float: right;
	padding-top: 23px;
	box-sizing: border-box;
}

.navprincipal ul li:first-child,
.navprincipal ul li:nth-child(2){
	padding-right: 25px;
}

<<<<<<< HEAD
.navprincipal ul li{
	list-style-type: none;
	display: inline-block;
	border-left: 1px solid #DDA54A;
	box-sizing: border-box;
}

.navprincipal ul li a{
	font-family: "Raleway", arial, sans-serif;
	font-size: 13px;
	padding: 8px 0px 10px 15px;
	color: #F5F5D5;
	display: inline-block;
}
=======

.navprincipal ul li{
	list-style-type: none;
	display: inline-block;
	border-left: 1px solid #96343E;
	box-sizing: border-box;
}


.navprincipal a{
	font-family: "Raleway", arial, sans-serif;
	font-size: 13px;
	padding: 8px 0px 10px 15px;
	color: #96343E;
	display: inline-block;
}



/*----- Nav hover -----*/
.navprincipal li:after {
	display: block;
	content: "";
	border-bottom: 1px solid  #96343E;  
	transform: scaleX(0);  
	transition: transform 0.5s;
}

.navprincipal li:hover:after{
	transform: scaleX(1);
    transform-origin: 0% 100%;
}
/*-------------------------*/

>>>>>>> c803de7c619fa261a62617752d5bd29304bfaa20

.menu{
	font-family: "Raleway", arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
}


/*------- Nav hover ------*/
.navprincipal li:after {
	display: block;
	content: "";
	border-bottom: 1px solid  #DDA54A;  
	transform: scaleX(0);  
	transition: transform 0.4s;
	transform-origin: 0% 50%;
}

.navprincipal li:hover:after{
	transform: scaleX(1);
}
/*-------------------------*/



header h1{
	margin: 150px 0 12px 0;
	display: inline-block;
    border-bottom: 2px solid #DDA54A;
}

header p{
	color: #F5F5D5;
	margin-bottom: 50px;
}

header p:after{
	content: " | Portfolio";
	color: #008B8B;
}




header .ochenta a{
	color: #F5F5D5;
	letter-spacing: 1px;
	display: inline-block;
	box-sizing: content-box;
}


header .ochenta a:hover{
	color: #DDA54A;
}

header .ochenta a:hover > .boton:before{
	border-top: 1px solid #DDA54A;
	border-right: 1px solid #DDA54A;
}

.boton {
	width: 85px;
	height: 35px;
	text-align: center;
	position: relative;
}

.boton:before {
	content: "";
	width: 72px;
	height: 24px;
	position: absolute;
 	left: 14px;
    bottom: 23px;
	border-top: 1px solid #F5F5D5;
	border-right: 1px solid #F5F5D5;
}

.boton:after {
	content: "";
	width: 72px;
	height: 24px;
	position: absolute;
    right: 14px;
    top: 1px;
	border-bottom:1px solid #F5F5D5;
	border-left: 1px solid #F5F5D5;
}



/*-- Navergador fixed --*/
.navfijo, .navfijo ul{
	display: inline-block;
	text-align: right;
}

.navfijo ul{
	position: fixed;
	bottom: 0;
	left: 90px;
	z-index: 900;
}

.navfijo li:after{
	content: "";
	height: 20px;
	width: 1px;
	background: #F5F5D5;;
	display: block;
    margin: -1px 0 -1px 72px;
}

.navfijo a{
	display: inline-block;
	color: #F5F5D5;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid #F5F5D5;
	box-sizing: border-box;
}

#inicioid:before, #sobreid:before,
#proyid:before, #cierreid:before{
	color: #F5F5D5;
	font-family: "Raleway", arial, sans-serif;
	font-size: 13px;
	display: inline;
	padding-right: 5px;
	visibility: hidden;
}

#inicioid:before{
	content: "Inicio";
}

#sobreid:before{
	content: "Sobre mí";
}

#proyid:before{
	content: "Proyectos";
}

#cierreid:before{
	content: "Saludos";
}

#inicioid:hover:before, #sobreid:hover:before,
#proyid:hover:before, #cierreid:hover:before{
	visibility: initial;
}
/*--------------------*/


header p{
	color: #CE343E;
}


.icono{
	position: absolute;
	right: 70px;
	bottom: 30px;
}
.icono a{
	color: #F5F5D5;
	font-size: 18px;
	padding: 0 8px 0 8px;
	display: inline-block;
}

.icono a:last-child{
	padding-right: 0;
}

.icono a:hover{
	color: #008B8B;
	transform: scale(1.3);
	transition: 0.3s;
<<<<<<< HEAD
}


/*------------ sobre mi -----------------------------------*/

#sobremi{
	height: 100%;
	margin: auto;
	text-align: center;
	position: relative;
	padding-top: 95px;
	box-sizing: border-box;
}

#sobremi h2{
	color: #2E3532;
	z-index: 1;
}

#sobremi h2:after{
	content: "Sobre mí";
	display: block;
	position: relative;
	top: 387px;
}

.sobremidelante{
	z-index: 100;
	border-top: 2px solid #2E3532;
	border-bottom: 2px solid #2E3532;
	background-color: #F5F5D5;
	margin-top: -69px;
	position: relative;
}

#sobremi article{
	display: inline-block;
	width: 33%;
	padding: 60px 50px 30px 50px;
	box-sizing: border-box;
}

#sobremi h4{
	color: #008B8B;
	padding: 10px 0 15px 0;
}

#sobremi article a{
		letter-spacing: 0px;
		margin: 0;
}

#sobremi a{
	color: #008B8B;
	letter-spacing: 1px;
	display: inline-block;
	box-sizing: content-box;
	margin: 45px 0 30px 0;
}

#sobremi a:hover{
	color: #BC7E18;
}

#sobremi a:hover > .boton2:before{
	border-top: 1px solid #BC7E18;
	border-right: 1px solid #BC7E18;
}

.boton2 {
	width: 150px;
	height: 35px;
	text-align: center;
	position: relative;
}

.boton2:before {
	content: "";
	width: 123px;
	height: 24px;
	position: absolute;
	left: 23px;
    bottom: 23px;;
	border-top: 1px solid  #008B8B;
	border-right: 1px solid  #008B8B;
}

.boton2:after {
	content: "";
	width: 123px;
	height: 24px;
	position: absolute;
    right: 20px;
    top: 1px;
	border-bottom:1px solid #2E3532;;
	border-left: 1px solid #2E3532;;
}






/*------------ Portfolio -----------------------------------*/
=======
}

h1:hover{
	color: #96343E;
}


/*------------ Editorial ------------*/
>>>>>>> c803de7c619fa261a62617752d5bd29304bfaa20


.fondoazul{
	background: #007474;
	height: 105%;
}

<<<<<<< HEAD

#portfolio div h2, #portfolio div p{
	color: #F4F4D4;
	text-align: right;
	width: 33%;
}

#portfolio h2{
    color: #F4F4D4;
    font-size: 50px;
    border-bottom: 2px solid #DDA54A;
    padding-bottom: 3px;
    margin-top: 230px;
}

#portfolio p{
    padding-top: 7px;
}

#portfolio div div{
	padding-top: 80px;
=======
.editorial{
	height: 700px;
}

.editorial h2{
	top: 450px;
    left: 200px;
    color: #F0F2EF;
    font-size: 50px;
    position: absolute;
    z-index: 250;
}

.editorial p{
	top: 500px;
    left: 200px;
    color: #F0F2EF;
    position: absolute;
}

.editorial article{
	padding: 10px 0 10px 0;
	z-index: 100;
	text-align: right;
>>>>>>> c803de7c619fa261a62617752d5bd29304bfaa20
}


#portfolio ul{
	float: right;
	margin-top: -230px;
	width: 50%;
}

#portfolio ul li{
	padding: 15px;
	display: inline-block;
	box-sizing: border-box;
}


<<<<<<< HEAD
.galeriaport{
	margin-right: 10%;
}


#gal1{
	display: inline-block;
	width: 300px;
	height: 200px;
	background-image: url(../imagenes/gal1.jpg);
	background-position: center center;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: cover;
}

#gal1:hover, #gal2:hover, #gal3:hover, #gal4:hover{
	opacity: 0.7;
}

#gal2{
	display: inline-block;
	width: 300px;
	height: 200px;
	background-image: url(../imagenes/gal2.jpg);
	background-position: center center;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: cover;
}

#gal3{
	display: inline-block;
	width: 300px;
	height: 200px;
	background-image: url(../imagenes/gal3.jpg);
	background-position: center center;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: cover;
}


#gal4{
	display: inline-block;
	width: 300px;
	height: 200px;
	background-image: url(../imagenes/gal4.png);
	background-position: center center;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: cover;
}




/*------------ Cierre ----------------------------------------*/

#cierre{ 
	height: 100%;
	padding-top: 50px;
}


 #cierre img {
	max-width: 100%;
}








/*------------ Footer ----------------------------------------*/
=======


/*------------ Sistemas ------------*/

.sistemas{
	height: 700px;
	overflow: hidden;
}

.sistemas h2{
	color: #96343E;
	text-align: center;
	padding-top: 200px;
}

.sistemas p{
	text-align: center;
}

.proyectos article{
	display: inline-block;
	padding: 200px 10px 0 10px;
}



/*------------ Branding ------------*/

.branding{
	background: #96343E;
	height: 700px;
}

.branding h2{
	color: #003049;
	position: absolute;
}

.branding p{
	position: absolute;
	color: #F0F2EF;
}

.branding h2{
	top: 200px;
	left: 100px;
}

.branding p{
	top: 255px;
	left: 100px;
}



/*------------ Especiales ------------*/
.especiales{
	height: 700px;
}



/*-------- Footer --------*/
>>>>>>> c803de7c619fa261a62617752d5bd29304bfaa20

footer{
	background: #2E3532;
	height: 195px;
	padding-top: 55px;
	box-sizing: border-box;
}


footer h5{
	color: #DCA44A;
}

<<<<<<< HEAD
.ochenta nav{
	display: inline-block;
	width: 50%;
=======
footer ul li a, footer p{
	color: #F0F2EF;
	font-size: 12px;
	letter-spacing: 1px;
>>>>>>> c803de7c619fa261a62617752d5bd29304bfaa20
}

.ochenta nav ul li{
	display: inline-block;
	padding: 3px 0 3px 0;
}

.ochenta nav ul, footer p{
	padding-right: 10px;
	padding-top: 8px;
}

.ochenta ul li a, footer p{
	color: #F4F4D4;
	font-size: 12px;
	letter-spacing: 1px;
}






.infofooter{
	float: left;
	width: 50%;
}

.infofooter div{
	display: inline-block;
	padding: 10px;	
	box-sizing: border-box;
}




footer .copyrights{
	clear: both;
	display: block;
	text-align: center;
}
