
body{
	margin: auto;
	background-color: #F0F2EF;
}


h1,h2{
	font-family: "Elsie", cursive;
}

h1{
	font-size: 45px;
	padding-top: 220px;
	color: #003049;
}

h2{
	font-size: 50px;
}

h5{
	font-family: "Raleway", arial, sans-serif;
	font-weight: 700;
	font-size: 13px;
	color: #A5343E;
}

p{
	font-family: "Raleway", arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #312F2F;
}

a {
	text-decoration: none;
	font-family: "Raleway", arial, sans-serif;
}


section{
	position: relative;
	box-sizing: border-box;
}

/*-------- header --------*/


header{
	height: 720px;
	padding-top: 25px;
	box-sizing: border-box;
}


.navprincipal a{
	text-decoration: none;
	font-family: "Raleway", arial, sans-serif;
	font-size: 13px;
	color: #96343E;
	display: inline-block;
}

.navprincipal{
	box-sizing: border-box;
	margin: auto;
}

.navprincipal ul{
	display: inline-block;
	float: right;
	padding-top: 23px;
	box-sizing: border-box;
}

.navprincipal ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0 15px 0 15px;
	border-left: 1px solid #96343E;
}

/*-- Nav hover
.navprincipal li:hover{
	background-color: #96343E;
	transition: 1s;
	transform: scaleX(10);
}--*/

.menu{
	text-decoration: none;
	font-family: "Raleway", arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
	color: #96343E;
	letter-spacing: 2px;
}

.contenedor{
	width: 90%;
	margin: auto;
}

.setenta{
	width: 70%;
	margin: auto;
	position: relative;
}


.icono{
	position: absolute;
	right: 80px;
	bottom: 25px;
}
.icono a{
	color: #9A9999;
	font-size: 18px;
	padding: 0 8px 0 8px;
	display: inline-block;
}

.icono a:hover{
	color: #96343E;
	transform: scale(1.3);
	transition: 0.4s;
}


/*-------- Editorial --------*/


.fondoazul{
	background: #003049;
}

.editorial{
	height: 720px;
}

.editorial h2{
	top: 475px;
    right: 200px;
    color: #F0F2EF;
    font-size: 50px;
    position: absolute;
}

.editorial p{
	top: 525px;
    right: 200px;
    color: #F0F2EF;
    position: absolute;
}

.editorial article{
	padding: 10px 0 10px 0;
}

.editorial div{
	padding-top: 80px;
}


/*-------- Branding --------*/

.fondobordo{
	background: #96343E;
	height: 720px;
}

.fondobordo h2, .fondobordo p{
	color: #F0F2EF;
	position: absolute;
}

.fondobordo h2{
	top: 200px;
	left: 100px;
}

.fondobordo p{
	top: 255px;
	left: 100px;
}

/*-------- Footer --------*/

footer{
	background: #232121;
	height: 100px;
	padding: 20px 0 20px 0;
	box-sizing: border-box;
}

footer div{
		padding: 0 10px 0 10px;
	box-sizing: border-box;
}

footer ul li a, footer p{
	color: #F0F2EF;
	font-size: 13px;
	letter-spacing: 1px;
}

footer ul li, footer p{
	padding: 3px 0 3px 0;
}

footer ul, footer p{
	padding-right: 10px;
	padding-top: 8px;
}


.contacto{
	float: left;
}